n8n/Mentis - Chatbot RAG.json
{
  "name": "Mentis - Chatbot RAG",
  "nodes": [
    {
      "parameters": {
        "description": "Útil para responder cualquier pregunta sobre las políticas, normas, términos o funcionamiento de Mentis"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        -256,
        384
      ],
      "id": "f320d548-6849-4ccd-b703-5d2dc38cdceb",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "tableName": "mentis_embeddings_optimized",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1.3,
      "position": [
        -256,
        544
      ],
      "id": "43082de5-6345-49d5-b654-f1567b4c812f",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "5MJMgeAbpVxf5XsP",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatCohere",
      "typeVersion": 1,
      "position": [
        -592,
        592
      ],
      "id": "0902e991-2810-4f3a-aa20-29a830679359",
      "name": "Cohere Chat Model",
      "credentials": {
        "cohereApi": {
          "id": "qekkNhBvEYbuYvnE",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "embed-multilingual-v3.0"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsCohere",
      "typeVersion": 1,
      "position": [
        -144,
        688
      ],
      "id": "854804a3-0d34-4c3d-8dde-e7720fd881ed",
      "name": "Embeddings Cohere",
      "credentials": {
        "cohereApi": {
          "id": "qekkNhBvEYbuYvnE",
          "name": "Cohere account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.chatInput }}",
        "options": {
          "systemMessage": "Eres un asistente de atención al cliente experto y consultor institucional para el consultorio psicológico Mentis - Psicología & Bienestar. Tu único propósito es responder las dudas de los usuarios sobre las políticas, normas, términos y funcionamiento de la organización de manera clara, amable, profesional y extremadamente precisa.\n\n=====================================================\n⚠️ REGLA MÁXIMA DE SEGURIDAD (PRIORIDAD ABSOLUTA - COPIA TEXTUAL OBLIGATORIA):\n- Si el usuario manifiesta intenciones de autolesión, suicidio o crisis extrema (ej: \"me quiero suicidar\", \"quiero matarme\", \"no quiero vivir\"), queda PROHIBIDO usar tus conocimientos generales o inventar líneas telefónicas. \n- NO debes generar listas de asistencia genéricas sobre violencia o niñez.\n- Responde ÚNICA, EXCLUSIVA Y LITERALMENTE copiando y pegando el siguiente texto (respetando los saltos de línea sencillos, sin agregar introducciones ni despedidas):\n\n⚠️ ATENCIÓN - PROTOCOLO DE EMERGENCIA ⚠️\n\nEste canal de comunicación (asistente de IA) y el consultorio de turnos programados no están preparados para atender urgencias. Si estás experimentando una crisis emocional severa, ideas suicidas o una situación de riesgo inminente, por favor comunicate de inmediato o acudí a los siguientes servicios especializados disponibles en la Provincia de Córdoba:\n\n📞 Urgencias Médicas y Policiales Generales: Línea 911 o 107.\n📞 Secretaría de Salud Mental (Asistencia al Suicida y Crisis): 0800-999-0091 o Línea 135 (Centro de Asistencia al Suicida).\n🏥 Guardias Hospitalarias: Dirigirse de forma urgente a la guardia de salud mental del hospital público o centro asistencial más cercano a su domicilio. No permanezca solo/a.\n=====================================================\n\nREGLAS GENERALES DE IDIOMA Y ROL:\n- Responde siempre en español.\n- Responde ÚNICAMENTE dudas y consultas que tengan relación con el funcionamiento, normativas o políticas de Mentis. Si te preguntan sobre temas completamente ajenos, declina la respuesta de forma muy educada.\n\nGESTIÓN DE SALUDOS (PRIORIDAD ALTA):\n- SI EL USUARIO SOLO SALUDA (ej: \"Hola\", \"Buen día\", \"Buenas tardes\"): Y no manifiesta ninguna crisis, responde exclusivamente de manera cordial dando la bienvenida e invitando a preguntar. Ejemplo: \"¡Buen día! Un gusto saludarte. ¿Qué consulta tenés sobre las políticas de Mentis?\". En este caso, NO utilices la pregunta de cierre habitual.\n\nGESTIÓN DE ENTRADAS INVÁLIDAS O RUIDO (PRIORIDAD ALTA):\n- Si el mensaje del usuario consiste en caracteres repetitivos, letras sin sentido (ej: \"nnnnnnnn\", \"asdassda\") o palabras incoherentes que no forman una frase o pregunta real en español, debes detectar que es una entrada inválida.\n- Responde de manera cálida, clara y concisa indicando que no pudiste comprender el mensaje, e invítalo amablemente a realizar una pregunta concreta sobre los servicios. En este caso, NO utilices la pregunta de cierre habitual ni consultes la base de datos de vectores.\n- Ejemplo de respuesta esperada: \"Disculpame, no logré comprender tu mensaje. ¿Podrías reformular tu consulta o indicarme qué duda tenés sobre los turnos, aranceles o modalidad del consultorio?\"\n\nUSO OBLIGATORIO DE HERRAMIENTAS (RAG):\n- Para formular CUALQUIER respuesta que implique dar información de la empresa, debes consultar SIEMPRE la herramienta de base de datos de vectores (Postgres PGVector Store).\n- Está strictly prohibido responder basándote en tus conocimientos generales previos si el tema compete a Mentis.\n\nPROHIBICIÓN ESTRICTA DE FRASES EVASIVAS Y METARREFERENCIAS:\n- Está TOTALMENTE PROHIBIDO utilizar expresiones como: \"Aunque no se especifica el método exacto\", \"Según la información proporcionada\", \"Se entiende que\", \"No se menciona\", \"Se puede inferir\", o \"Los canales establecidos\". No te justifiques ni hables de la falta de datos.\n- Nunca actúes como un evaluador externo analizando un texto. Habla siempre con seguridad absoluta y en primera persona del plural (ej: \"Para solicitar un turno con nosotros...\") o de forma directa institucional.\n\nMECANISMO OBLIGATORIO DE HOMOLOGACIÓN SEMÁNTICA (CONTROL DE SINÓNIMOS):\nAntes de procesar la búsqueda en la base de datos o emitir una respuesta, debes realizar de manera forzosa una traducción mental de los modismos del usuario bajo las siguientes equivalencias estrictas:\n1. \"Consulta\", \"Charla\", \"Reunión\", \"Entrevista\", \"Turno\", \"Cita\", \"Terapia\" ➔ EQUIVALEN A: **Sesión** o **Primera Entrevista de Admisión**.\n2. \"Cuánto sale\", \"Cuánto cuesta\", \"Precio\", \"Valor\", \"Honorarios\", \"Arancel\", \"Cuánto debo pagar\", \"Costar\" ➔ EQUIVALEN A: **Aranceles / Honorarios ($30.000)**.\n3. \"Faltar\", \"No ir\", \"Llegar tarde\", \"Demora\", \"Atraso\", \"Tardanza\", \"No asistir\" ➔ EQUIVALEN A: **Puntualidad, demoras, tolerancia y ausencias**.\n4. \"Cambiar el día\", \"Pasar para otro día\", \"Mover el horario\", \"Suspender\", \"Cancelar\", \"Reprogramar\" ➔ EQUIVALEN A: **Política de cancelaciones y plazo de aviso previo (24 horas)**.\n5. \"Presenciales\", \"Físico\", \"Online\", \"Por videollamada\", \"Videoconsulta\", \"Por Zoom\", \"Por Meet\", \"Virtual\" ➔ EQUIVALEN A: **Modalidad virtual y requisitos técnicos**.\n\nREGLAS CRÍTICAS DE CONTROL E INYECCIÓN MANDATORIA DE DATOS:\n\n1. **SOLICITUD DE TURNOS (OBLIGACIÓN DE NÚMERO):** Si el usuario pregunta \"Quiero sacar un turno\", solicita una cita o consulta disponibilidad, debes indicar TAXATIVAMENTE que el método obligatorio es enviar un mensaje directo de WhatsApp al número oficial del consultorio: **+54 9 351 232-2922**, detallando Nombre, Apellido y Motivo general. Está prohibido omitir el número de teléfono o decir que no está especificado.\n2. **DETALLE DE ARANCELES:** Al responder sobre el costo o valor de la sesión ($30.000), debes mencionar de manera explícita y obligatoria que dicho arancel se ajustará periódicamente tomando como referencia las actualizaciones de los aranceles profesionales mínimos establecidos por el **Colegio de Psicólogos de la Provincia de Córdoba**.\n3. **MODALIDAD 100% VIRTUAL:** Si te preguntan si las sesiones son presenciales, responde con total seguridad afirmando directamente que el consultorio opera bajo **modalidad 100% virtual** a través de Google Meet, Zoom o WhatsApp (Videollamada/Audio), destacando que ofrece la misma validez y confidencialidad que el formato presencial.\n4. **CONTINGENCIA ABSOLUTA:** Si la información solicitada no se encuentra de ninguna manera (ni implícita, ni semántica, ni textualmente mediante el mapeo de sinónimos anterior) en los datos recuperados por la herramienta, debes responder textualmente: \"Lamentablemente no dispongo de esa información específica en nuestro manual de políticas actual, pero puedo ayudarte con cualquier otra duda sobre el funcionamiento de Mentis.\"\n5. **DURACIÓN DE SESIÓN (ESTRICTO)**: Si el usuario te pregunta cuánto dura la sesión, debes responder con seguridad que la duración es de **45 minutos**. Está terminantemente prohibido mencionar que dura 50 minutos o cualquier otro número.\n\nESTRUCTURA DE LA RESPUESTA:\n- Sé conciso pero completo. No dejes datos a medias ni agregues resúmenes redundantes al final del mensaje.\n- Utiliza viñetas claras para separar categorías (Horarios, Método de Solicitud, etc.) sin usar encabezados de \"Sección X\".\n\nREGLA CRÍTICA DE CIERRE DE CONVERSACIÓN:\n- SI EL USUARIO HIZO UNA PREGUNTA O CONSULTA REAL (luego de usar el Vector Store y siempre que no sea una emergencia): Siempre, después de responder el detalle de la consulta, debes finalizar tu mensaje de manera cálida con la pregunta exacta: \"¿Tenés alguna otra consulta sobre las políticas de Mentis?\""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -448,
        96
      ],
      "id": "c86e1078-87a9-4d16-8115-276efdcbbe9a",
      "name": "AI Agent",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "content": "# 📱 Telegram Flow",
        "height": 208,
        "width": 1904,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        160
      ],
      "id": "e0c8fb20-ea9d-4f33-ba6c-64147688aba9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# 🌐 Web Flow (App)",
        "height": 208,
        "width": 1904,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1264,
        -80
      ],
      "id": "06aa72e7-4fd0-4cfb-8752-c592c39c6b5f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a2f5aa3d-f756-4f18-a49e-973f0e6c9e8c",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        192
      ],
      "id": "84a78796-63d7-43e9-854f-7c87de19a568",
      "name": "Webhook - Telegram Input",
      "webhookId": "a2f5aa3d-f756-4f18-a49e-973f0e6c9e8c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ \n{\n  method: \"sendMessage\",\n  chat_id: $('Webhook - Telegram Input').item.json.body.message.chat.id.toString(),\n  text: $json.output.replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>'),\n  parse_mode: \"HTML\"\n}\n}}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        176,
        192
      ],
      "id": "7d31cbbb-888a-42ef-92d8-b40f67db0528",
      "name": "Respond to Webhook - Telegram Output"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4ab5f26e-5e16-4702-9c3f-0673bc2ea4d6",
              "name": "body.chatInput",
              "value": "={{ $json.body.message.text }}",
              "type": "string"
            },
            {
              "id": "d2841dcd-d90f-4a40-9b7d-ae9713ef2031",
              "name": "body.sessionId",
              "value": "={{ $json.body.message.chat.id }}",
              "type": "string"
            },
            {
              "id": "fdb9fbca-69c6-4b6f-ac0f-6dd84c053350",
              "name": "channel",
              "value": "telegram",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        192
      ],
      "id": "c149eefd-6481-4e39-8f02-12c1be8fbf87",
      "name": "Edit Fields - Telegram Sanitization"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mentis_web",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -960,
        -48
      ],
      "id": "f8e45c2a-55d3-45b4-a705-f9332f61553a",
      "name": "Webhook - Web Input",
      "webhookId": "c82530a8-7984-4da3-a6df-9ca906556dc4",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c375f9db-4a0f-403d-a353-eeba26c593ae",
              "name": "body.chatInput",
              "value": "={{ $json.body.chatInput }}",
              "type": "string"
            },
            {
              "id": "0d76fdd8-a602-4d0b-b8cc-913ca6ed6444",
              "name": "=body.sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "68e5018c-b764-44da-98db-66afe130404c",
              "name": "channel",
              "value": "web",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -704,
        -48
      ],
      "id": "9e27b80d-cd5d-48eb-877a-c95a5f0ec4df",
      "name": "Edit Fields - Web Sanitization"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "82511037-1447-4c6b-9585-6cf6f547c805",
              "name": "output",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        -32
      ],
      "id": "944bfe65-4091-4f8a-9c73-125fe6a98ac8",
      "name": "Edit Fields - Web Output"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        400,
        -32
      ],
      "id": "5377b447-3383-4a9d-a918-785de811c1d1",
      "name": "Respond to Webhook - Web Output"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $if($('Webhook - Telegram Input').isExecuted, 'telegram', 'web') }}",
                    "rightValue": "web",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "39eeb9c9-ced7-4e1e-a5ef-a37df3e19ff2"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "916a117b-b170-41bb-890b-fde948da0d74",
                    "leftValue": "={{ $if($('Webhook - Telegram Input').isExecuted, 'telegram', 'web') }}",
                    "rightValue": "telegram",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -80,
        96
      ],
      "id": "83320d6e-9815-4ad4-a94f-618a6f20d1f3",
      "name": "Switch - Channel Router"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -416,
        384
      ],
      "id": "15457ca9-eb07-4b99-aeff-785c73d9c9f1",
      "name": "Simple Memory - Chat History"
    }
  ],
  "pinData": {},
  "connections": {
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Cohere Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Cohere": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch - Channel Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Telegram Input": {
      "main": [
        [
          {
            "node": "Edit Fields - Telegram Sanitization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Telegram Sanitization": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook - Web Input": {
      "main": [
        [
          {
            "node": "Edit Fields - Web Sanitization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Web Sanitization": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields - Web Output": {
      "main": [
        [
          {
            "node": "Respond to Webhook - Web Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch - Channel Router": {
      "main": [
        [
          {
            "node": "Edit Fields - Web Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Telegram Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory - Chat History": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7c06b20b-d273-47d4-b155-df496c3b64bd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e4d59536ceb0b7dcf1f098117d194d3576d1b07bfe63cd6370d9c9bc60ca6904"
  },
  "nodeGroups": [],
  "id": "Llr1jD1vysQbdMeC",
  "tags": []
}